<div class="container-fluid">
    <div class="row"><div class="col">
        <div class="card text-center">
            <h1 class="mt-4">Configuración <small id="nombreSubservicio" name="nombreSubservicio">Sistema Kraken</small></h1>
            <p></p>

        </div>
    </div></div>
    <div class="row">
        <div class="col-lg-4 col-sm-6">
            <div class="card">
                <div class="card-body text-center">
                    <h3>Logo <small> de Inicio</small></h3>
                    <img src="images/cosultarQ3.png" class=" mt-4" alt="logoLogin" width="300" height="100">
                    <p class="card-text mt-4">Esta imagen se muestra en la pantalal de inicio "login" donde los usuarios ingresan sus datos.</p>
                    <a href="#" class="btn btn-primary">Subir Imagen</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <div class="card">
                <div class="card-body">
                    <h3>Icono <small> del Navegador</small></h3>
                    <img src="images/logo.png" class="rounded mx-auto d-block mt-4" alt="logoConsultARQ" width="100" height="100">
                    <p class="card-text mt-4">Esta es la imagen que se muestra en el navegador web, aparece del lado izquierdo al nombre de la pagina.</p>
                    <a href="#" class="btn btn-primary">Subir Imagen</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <div class="card">
                <div class="card-body">
                    <h3>Imagen <small> para Usuarios</small></h3>
                    <img src="images/avatar/avatar.png" class="rounded mx-auto d-block mt-4" alt="logoUsuarios" width="100" height="100">
                    <p class="card-text mt-4">Esta imagen se muestra en la pantalal de inicio "login" donde los usuarios ingresan sus datos.</p>
                    <a href="#" class="btn btn-primary">Subir Imagen</a>
                </div>
            </div>
        </div>
    </div>
</div>
        