<div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body pb-0 d-flex justify-content-center">
                            <img src="/images/cosultarQ3.png" class="rounded mx-auto d-block" alt="...">
                        </div>
                        <div class="card-body">
                            <div class="d-flex justify-content-center">
                                <h1>Bienvenido {{usuario.Empleado}} {{usuario.pA}}<small id="username" name="username"></small></h1>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
