<div class="container-fluid mt-3">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="form-group row mt-3 mb-3">
                        <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
                            <a href="/editarSubservicio/id"class="btn btn-primary"><i class="fas fa-arrow-left" aria-hidden="true"></i></a>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 text-center">
                            <h1>Editar <small>Nombre del Subservicio</small></h1>
                            <p>En esta sección podrás editar el nombre del subservicio seleccionado.</p>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3 text-right">
                        </div>
                    </div>
                    <form>
                        <div class="mb-3">
                            <label for="formGroupExampleInput" class="form-label">Nombre del Subservicio</label>
                            <input type="text" class="form-control" id="nombreSubservicio" name="nombreSubservicio" placeholder="Ingrese el nuevo nomre del subservicio" required pattern="([A-Za-z].?){1,45}">
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-8 ml-auto  text-right">
                                    <button class="btn btn-primary"><i class="fas fa-save mr-2"></i>Guardar</button>
                                    <a type="button" class="btn btn-outline-primary" href="/editarsubservicios"><i class="fas fa-times-circle mr-2"></i>Cancelar</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>