<div class="container-fluid">
    <div class="card">
        <div class="container-fluid">
            <div class="form-group row mt-3 mb-3">
                <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
                    <a href="/proyectos" class="btn btn-primary"><i class="fas fa-arrow-left"></i></a>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <h1 class="text-center">{{proyecto.nProyecto}}</h1>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3 text-right">
                    
                </div>
            </div>
            <div class="form-group row mt-3 mb-3">
                <div class="col">
                    <div class="text-center">
                        <img class="align-self-center mb-5" src="/images/proyecto/proyecto2.jpg" width="300" height="150" alt="Generic placeholder image" align="middle">
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col">
                    <div class="form-group row">
                        <div class="col">
                            <div class="form-group row">
                                <div class="col-md-6 col-lg-4 col-xl-4 col-xxl-2">
                                    <div class="card card-profile text-center">
                                        <span class="mb-1 text-bssb"><i class="icon-star"></i></span>
                                        <h3 class="mb-0">Juan José Huerta Córdova</h3>
                                        <p class="text-muted px-4">Encargado</p>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4 col-xl-4 col-xxl-2">
                                    <div class="card card-profile text-center">
                                        <span class="mb-1 text-kimberly"><i class="icon-user"></i></span>
                                        <h3 class="mb-0">Ricardo Alonso García Villa <3</h3>
                                        <p class="text-muted px-4">Cliente</p>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4 col-xl-4 col-xxl-2">
                                    <div class="card card-profile text-center">
                                        <span class="mb-1 text-primary"><i class="icon-home"></i></span>
                                        <h3 class="mb-0">Casa-habitación</h3>
                                        <p class="text-muted px-4">Tipo</p>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4 col-xl-4 col-xxl-2">
                                    <div class="card card-profile text-center">
                                        <span class="mb-1 text-pelorous"><i class="icon-info"></i></span>
                                        <h3 class="mb-0">Activo</h3>
                                        <p class="text-muted px-4">Estado</p>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4 col-xl-4 col-xxl-2">
                                    <div class="card card-profile text-center">
                                        <span class="mb-1 text-bssa"><i class="icon-location-pin"></i></span>
                                        <h3 class="mb-0">Defensa de Acatlán 218 Reforma 58147 Morelia, Mich.</h3>
                                        <p class="text-muted px-4">Ubicación</p>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4 col-xl-4 col-xxl-2">
                                    <div class="card card-profile text-center">
                                        <span class="mb-1 text-dpink"><i class="icon-calender"></i></span>
                                        <h3 class="mb-0">99/99/99</h3>
                                        <p class="text-muted px-4">Fecha de finalización</p>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="bootstrap-media">
                                <div class="media">
                                    <div class="media-body">
                                        <h4><i class="align-self-start mr-3 cc ZEIT f-s-30"></i>Encargado: <small>Huerta Córdova Juan José</small></h4>
                                        <h4><i class="align-self-start mr-3 cc YBC f-s-30"></i>Cliente: <small>Pepes's Pizza</small></h4>
                                        <h4><i class="align-self-start mr-3 cc INCNT f-s-30"></i>Dirección: <small>Esquina con Cerro de villachuato, Av. Mil Cumbres 610, Lomas del Tecnológico, 58117 Morelia, Mich.</small></h4>
                                        <h4 class="text-justify"><i class="align-self-start mr-3 cc SALT f-s-30"></i>Descripción: <small>Este apartado es para poner una pequeña descripción sobre el proyecto con un máximo de 120 caracteres.Este apartado es para poner una pequeña descripción sobre el proyecto con un máximo de 120 caracteres.Este apartado es para poner una pequeña descripción sobre el proyecto con un máximo de 120 caracteres.</small></h4>
                                    </div>
                                </div>
                            </div>-->
                        </div>
                        <!--<div class="col-lg-2 text-right">
                            <h6><i class="align-self-start mr-3 cc ICN f-s-30"></i>Etapa 5</h6>
                            <h6><i class="align-self-start mr-3 cc KMD f-s-30"></i>Edificio</h6>
                            <h6><img class="align-self-start mr-3 cc f-s-30" src="images/proyecto/activo.png" width="10" height="10" alt="Generic placeholder image">Activo</h6>
                        </div>-->
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-6 col-sm-6">
                    <div class="card gradient-2">
                        <div class="card-body">
                            <h3 class="card-title text-white">CheckList</h3>
                            <span class="float-right display-5 opacity-5"><i class="fa fa-clipboard-list"></i></span>
                        </div>
                        <a href="/checklist" class="stretched-link"></a>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <div class="card gradient-3">
                        <div class="card-body">
                            <h3 class="card-title text-white">Tareas</h3>
                            <span class="float-right display-5 opacity-5"><i class="fa fa-address-book "></i></span>
                        </div>
                        <a href="/tareas" class="stretched-link"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>