<div class="container-fluid mt-2">
    <div class="card">
        <div class="container-fluid mt-3">
            <div class="form-group row mt-3 mb-3">
                <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 text-center">
                    <h1>Administrar <small>Conceptos</small></h1>
                    <p>En esta sección podrás gestionar los conceptos de ingresos y egresos que se han registrado en el sistema.</p>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <div class="card gradient-3">
                        <div class="card-body">
                            <h2 class="card-title text-white">Ingresos</h2>
                            <span class="float-right display-5 opacity-5"><i class="fa fa-money"></i></span>
                        </div>
                        <a href="tablaConceptosI" class="stretched-link"></a>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <div class="card gradient-4">
                        <div class="card-body">
                            <h2 class="card-title text-white">Egresos</h2>
                            <span class="float-right display-5 opacity-5"><i class="fa fa-shopping-basket"></i></span>
                        </div>
                        <a href="tablaConceptosE" class="stretched-link"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>