<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title text-center">Catálogo de Conceptos</h1>
                    <div class="table-responsive text-center">
                        <table class="table table-striped table-bordered zero-configuration">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Conceptos</th>
                                    <th>Unidad</th>
                                    <th>Precio p/u</th>
                                    <th>Total</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Demolición con mortero</td>
                                    <td>m2</td>
                                    <td>$15.63</td>
                                    <td>$18.63</td>
                                    <td>
                                        <span>
                                            <a href="editarConcepto" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit">
                                                <i class="fa fa-pencil color-muted m-r-5"></i> 
                                            </a><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Close">
                                                <i class="fa fa-close color-danger"></i>
                                            </a>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Demolición con mazo</td>
                                    <td>m2</td>
                                    <td>$10.50</td>
                                    <td>$100.00</td>
                                    <td>
                                        <span>
                                            <a href="editarConcepto" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit">
                                                <i class="fa fa-pencil color-muted m-r-5"></i> 
                                            </a><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Close">
                                                <i class="fa fa-close color-danger"></i>
                                            </a>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>#</th>
                                    <th>Conceptos</th>
                                    <th>Unidad</th>
                                    <th>Precio p/u</th>
                                    <th>Total</th>
                                    <th>Acciones</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="text-center">
                        <a href="agregarConcepto" class="btn btn-primary">Agregar Nuevo Concepto</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>