<div class="container-fluid">
    <!--Titutlo de la pagina-->
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="form-group row mb-1">
                        <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 text-center">
                            <h1>Tareas <small></small></h1>
                            <p>En esta sección podrás consultar las tareas de todos los proyectos en los que participas. </p>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
                            <div class="input-group icons mt-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-transparent border-0 pr-2 pr-sm-3" id="basic-addon1"><i class="mdi mdi-magnify"></i></span>
                                </div>
                                <input type="search" class="form-control" placeholder="Buscar Tarea">
                                <div class="drop-down   d-md-none">
                                    <form action="#">
                                        <input type="text" class="form-control" placeholder="Search">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--De aqui para abajo van las cards-->
    <div class="row">
      
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <h4 class="card-widget__title text-dark mt-1"></h4>
                    </div>
                    <!--lista de Tareas-->
                    <div class="todo-list">
                        <div class="tdl-holder">
                            <div class="tdl-content2 tdl-content--no-label">
                                <ul>
                                    <li>
                                        <label><input type="checkbox"><i></i><span>Tomar medidas</span><a href="#" class="ti-close"></a>
                                        </label>
                                    </li>
                                    <li>
                                        <label><input type="checkbox" checked=""><i></i><span>Realziar los planos</span><a href="#" class="ti-close"></a>
                                        </label>
                                    </li>
                                    <li>
                                        <label><input type="checkbox"><i></i><span>Conseguir permisos</span><a href="#" class="ti-close"></a>
                                        </label>
                                    </li>
                                    <li>
                                        <label><input type="checkbox" checked=""><i></i><span>Comprar material</span><a href="#" class="ti-close"></a>
                                        </label>
                                    </li>
                                    <li>
                                        <label><input type="checkbox"><i></i><span>Contratar trabajadores</span><a href="#" class="ti-close"></a>
                                        </label>
                                    </li>
                                    <li>
                                        <label><input type="checkbox" checked=""><i></i><span>Tomar fotografias</span><a href="#" class="ti-close"></a>
                                        </label>
                                    </li>
                                    <li>
                                        <label><input type="checkbox" checked=""><i></i><span>Informar al cliente</span><a href="#" class="ti-close"></a>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                            <div class="text-center">
                                <a href="#" class="btn mb-1 btn-primary px-5 mt-3 " >Guardar Cambios</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>